/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
nav{
	background-color:#E54E79;
	width: 100%;
	height: 80px;
	position:fixed; 
	margin-top: -10px;
}
nav img{
	width: 70px;
	height: 60px;
	position: absolute;
	left:200px;
	top:10px;
}
nav a{
	position: relative;
	left: 850px;
	top:10px;
	text-decoration: none;
	color: white;

}
nav ul li{
	list-style: none;
	display: inline;
	margin: 20px;
	padding-top: 30px;
}
header{
	background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
	padding-top: 150px;
	padding-bottom: 100px;
	padding-left: 740px;
	background-size:100%;
}
.turn{
	background-color:#EDE9E2;
	width:445px;
	padding: 30px;
}
.turn h2{
	color:#00B2A9;
}
.turn h4{
	color: #75726C;
}
.turn input{
background-color: transparent; 
border-style: solid; 
border-width: 0px 0px 1px 0px; 
border-color:#75726C; 
width: 400px;
}
.turn button{
	padding:10px 30px;
	color:white;
	background-color:#E56385; 
	border-radius:15px; 
	margin-top: 20px;
}
.turn p:first-of-type{
	padding-top:30px;
}
section{
	background-color: #00B2A9;
	padding: 30px;
}
.play{
	background-color:#EDE9E2;
}
.play h1{
	color:#75726C;
	padding: 10px;
	text-align: center;
	font-size: 40px;
}
.auto{
	background-color:#EDE9E2;
	color:#75726C;
	padding: 40px;
	width: 70%;
	text-align: center;
	margin-left: 140px;
	margin-bottom: 30px;
	margin-top: 70px;
}
.auto input{
background-color: transparent; 
border-style: solid; 
border-width: 0px 0px 1px 0px; 
border-color:#75726C; 
width: 350px;
margin: 10px;
}
.icon-car{
	font-size: 35px;
}
.auto button{
	background-color: #00B2A9;
	color: white;
	width: 80%;
	padding: 20px;
	border-radius: 15px;
	margin-top:20px;
}
footer{
	background-color: #75726C;
	padding-bottom: 50px;

}
footer h2{
	margin-top: 0;
	padding:30px;
	text-align: left;
}
footer h4{
	text-align: center;
	padding: 0;
}
footer a{
	text-decoration: none;
}
footer a span{
	position: relative;
	left:350px;
	margin-left:100px;
	font-size: 50px;
	color:#E54E79;
}